/* Allgemeine Anpassungen */
*{
    color: white;
    margin: 0px;
    box-sizing: border-box;
}

body {    
    min-width: 900px;
}

a:hover {
    color: lightblue;
}

.center{
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.background_footer {
    background: black;
}

.background_main {
    background: black;
}
/* Anpassungen für den Header */
.passendeWeiteTopNavi {
    display: flex;
    justify-content: center;
}
.topNavigation {
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.headerLogo img {
    width: 100px;
    height: 100px;
}

.HeaderNav {
    display: flex;
    align-items: center;
}
.HeaderNav a{
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
}
/* CSS-Anpassungen für den Main-Bereich */
.contact input[type=text], input[type=email], textarea{
    width: 50%;
    margin: 20px;
    background-color: white;
    color: black;
}

/* Anpassungen für den Footer */
.footer_passende_weite {
    display: flex;
    justify-content: center;
}
.footer {
    width: 75%;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.rechtliches li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}